<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('./partials/head'); %>

<body class="w3-content" style="max-width: 1400px">

	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index: 3; width: 250px" 
		id="mySidebar">
		<div class="w3-container w3-display-container w3-padding-16">
			<i onclick="w3_close()"
				class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
			<h3 class="w3-wide">
				<b>Elshoppen</b>
			</h3>
		</div>
		<div class="w3-padding-64 w3-large w3-text-grey" style="font-weight: bold">
		
			<a id="login" href="#" class="w3-bar-item w3-button w3-block w3-white w3-left-align acc-left-menu user-logged">
				Log in <i class="fa fa-caret-down"></i></a> 
			<div id="loginAcc"
				class="w3-bar-block w3-hide w3-padding-large w3-medium">
				<a href="#" onclick="document.getElementById('loginCustomerModal').style.display='block'"
					class="w3-bar-item w3-button w3-light-grey">Customer</a>
				<a href="#" onclick="document.getElementById('loginSellerModal').style.display='block'" 
					class="w3-bar-item w3-button">Seller</a> 
			</div>
			
			<a id="register" href="#" class="w3-bar-item w3-button w3-block w3-white w3-left-align acc-left-menu user-logged">
				Register <i class="fa fa-caret-down"></i></a>
			<div id="registerAcc"
				class="w3-bar-block w3-hide w3-padding-large w3-medium">
				<a href="#" onclick="document.getElementById('registerCustomerModal').style.display='block'"
					class="w3-bar-item w3-button w3-light-grey">Customer</a> 
				<a href="#" onclick="document.getElementById('registerSellerModal').style.display='block'"
					class="w3-bar-item w3-button">Seller</a> 
			</div>
			
			<!-- Only show this option when user logged in -->
			<a id="logout" href="#" class="w3-bar-item w3-button w3-block w3-white w3-left-align w3-hide user-logged">
				Log out</a>
		</div>
		
		<a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>
		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding"
			onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
		<a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a>
	</nav>

	<!-- Top menu on small screens -->
	<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
		<div class="w3-bar-item w3-padding-24 w3-wide">Elshoppen</div>
		<a href="javascript:void(0)"
			class="w3-bar-item w3-button w3-padding-24 w3-right"
			onclick="w3_open()"><i class="fa fa-bars"></i></a>
	</header>

	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large" onclick="w3_close()"
		style="cursor: pointer" title="close side menu" id="myOverlay"></div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left: 250px">

		<!-- Push down content on small screens -->
		<div class="w3-hide-large" style="margin-top: 83px"></div>

		<!-- Top header -->
		<header class="w3-container w3-xlarge">
			<p id="userMessage" class="w3-left">Products</p>
			<p class="w3-right">
				<!-- Symbols defined in Font Awesome (fa) v4.7, add w3-margin-right for good spacing between icons-->
				<a id="briefcaseIcon" href="#" class="fa fa-briefcase fa-lg w3-margin-right w3-hide seller-logged" style="text-decoration:none"></a>
				<a id="shoppingCartIcon" href="#" class="fa fa-shopping-cart fa-lg w3-margin-right w3-hide customer-logged" style="text-decoration:none"></a>
				<a id="homeIcon" href="/" class="fa fa-home fa-lg w3-margin-right" style="text-decoration:none"></a>
				<a id="searchIcon" href="#" class="fa fa-search fa-lg w3-margin-right" style="text-decoration:none"></a>
				
				<!-- Original: <i class="fa fa-shopping-cart w3-margin-right"></i> -->
			</p>
			<form id="searchForm" action="search" method="get" class="w3-hide">
			  	<input class="w3-input w3-border" type="text" name="searchWord" required
					placeholder='Enter a word to search products, like "chocolate"'>
				<br>
				<input type="submit" value="Submit"
				 	class="w3-button w3-padding-large w3-black w3-margin-bottom w3-center">
				<br>
			</form>
		</header>

		<!-- Image header -->
		<div class="w3-display-container w3-container">
		<% if(product[0].DescriptionImage != null){%>
			<img src="data:image;base64,<%= product[0].DescriptionImage%>" alt="Product image" style="width:100%; height:100%; max-width: 800px" >
	 	<% } else { %>
		 	<img src="/images/default_product.png" style="width:80%; height:100%" alt="Product default image">
	 	<% } %>
			<div class="w3-display-topright w3-text-white" style="padding: 24px 48px">
				<p class="w3-hide customer-logged">
                    <label for="quantityAdd" class="w3-large w3-text-grey"><strong><i class="fa fa-cubes"></i> Quantity</strong></label>
                    <input id="quantityAdd" class="w3-input w3-border" type="number" placeholder="1" min="1"  value="1">
                    <br>
					<a id ="addToCartButton" href="#" 
						class="w3-button w3-black w3-padding-large w3-large">
					ADD TO CART</a>
                    <br>
                    <p id="addProductShopcartMessage" class="w3-green w3-text-black w3-large w3-center"></p>
				</p>
				<p>
					<a href="#" onclick="document.getElementById('updateProductModal').style.display='block'"
						class="w3-button w3-black w3-padding-large w3-large w3-hide seller-logged">
					MODIFY</a>
				</p>
			</div>
		</div>

		<div class="w3-container w3-text-grey" id="products"> <!-- id="jeans" -->
			<p class="w3-large" >Item description</p>
		</div>
		
		<div class="w3-row-padding" style="margin:0 -16px">
			<table class="w3-table w3-striped w3-white">
	        	<tr>
	            	<td>Name</td>
	            	<td><i><%= product[0].Name%></i></td>
     			</tr>
	          	<tr>
	            	<td>Price</td>
	            	<td><i><%= product[0].Price%></i></td>
	          	</tr>
     		    <tr>
	            	<td>Quantity</td>
	            	<td><i><%= product[0].Quantity%></i></td>
	          	</tr>
	          	<tr>
	            	<td>Seller</td>
	            	<td><i><%= product[0].SellerName%></i></td>
	          	</tr>
	          	<tr>
	            	<td>Description</td>
	            	<td><i><%= product[0].DescriptionText%></i></td>
	          	</tr>
			</table>
		</div>
		<br>
		<p id="addProductShopcartErrorMessage" class="w3-amber w3-text-black w3-large w3-center"></p>
        <br>
        <!-- Comments section -->
        <div class="w3-container w3-padding-32 w3-text-white" style="background-color:rgba(158, 187, 188, 0.8)">
          <h1>Comments by users</h1>
        </div>
        <br>
        <% for(let i = 0; i < comments.length; i++) {%>
          <div class="w3-row-padding">
          <div class="w3-card w3-round w3-light-grey w3-container w3-padding">
            <span class="w3-right w3-opacity"><%= comments[i].WritingDate.toDateString()%>, 
              <%= comments[i].WritingDate.toLocaleTimeString()%></span>
            <h4><%= comments[i].Name%> <span class="w3-margin-left"></span>
            <% for(let k = 0; k < 5; k++) {%>
              <% if(k < comments[i].Rating) {%>
              <span class="fa fa-star checked"> </span>
              <% } else{ %>
              <span class="fa fa-star"> </span>
              <% } %>
            <% } %>
            </h4>
            <hr class="w3-clear">
            <p class="w3-border w3-padding w3-white" ><%= comments[i].Text%></p>
          </div>
        </div>
          <br>
        <% } %>
        <!-- Comment input -->
        <div class="w3-row-padding">
          <div class="w3-card w3-round w3-blue-grey w3-container w3-padding">
            <h4>Please, write your comment and choose a rating for the product<span class="w3-margin-left"></span>
              <a id ="star1" href="javascript:void(0);" class="fa fa-star rating" style="text-decoration:none"></a>
              <a id ="star2" href="javascript:void(0);" class="fa fa-star rating" style="text-decoration:none"></a>
              <a id ="star3" href="javascript:void(0);" class="fa fa-star rating" style="text-decoration:none"></a>
              <a id ="star4" href="javascript:void(0);" class="fa fa-star rating" style="text-decoration:none"></a>
              <a id ="star5" href="javascript:void(0);" class="fa fa-star rating" style="text-decoration:none"></a></h4>
            <textarea  name="commentText" rows="1" cols="150" placeholder="Such a nice product, I love it!"
              class="w3-hide" style ="resize: none; overflow: hidden; height: auto; width: 100%"></textarea>
            <p id="newComment" data-rating="1" contenteditable="true" class="w3-border w3-padding w3-white" ></p>
            <button type="button" class="w3-button w3-theme w3-black "><i class="fa fa-pencil"></i>  Post</button> 
          </div>
        </div>
        <br>
    
		<!-- Subscribe section -->
		<div class="w3-container w3-black w3-padding-32">
			<h1>Subscribe</h1>
			<p>To get special offers and VIP treatment:</p>
			<p>
				<input class="w3-input w3-border" type="text"
					placeholder="Enter e-mail" style="width: 100%">
			</p>
			<button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
		</div>

	<!-- Footer -->
	<%- include('./partials/footer'); %>

	<!-- End page content -->
	</div>

	<!-- Newsletter Modal -->
	<div id="newsletter" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="padding: 32px">
			<div class="w3-container w3-white w3-center">
				<i onclick="document.getElementById('newsletter').style.display='none'"
					class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
				<h2 class="w3-wide">NEWSLETTER</h2>
				<p>Join our mailing list to receive updates on new arrivals and
					special offers.</p>
				<p>
					<input class="w3-input w3-border" type="text"
						placeholder="Enter e-mail">
				</p>
				<button type="button"
					class="w3-button w3-padding-large w3-red w3-margin-bottom"
					onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
			</div>
		</div>
	</div>
	
	<div id="loginCustomerModal" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="padding: 32px">
			<div class="w3-container w3-white w3-center">
				<i onclick="document.getElementById('loginCustomerModal').style.display='none'"
					class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
				<h2 class="w3-wide">Customer Log in</h2>
				<p>Introduce your identity number and password to log in</p>
				  	<form id="loginCustomerForm" action="customer/login" method="post">
					  	<input class="w3-input w3-border" type="number" name="IdentityNumber" required
							min="0" max="999999999" placeholder="Enter indentity number like 112233">
						<br>
						<input class="w3-input w3-border" type="password" name="Password" required
							placeholder="Enter your password">
						<br>
					 	<input type="submit" value="Submit"
						 	class="w3-button w3-padding-large w3-red w3-margin-bottom" >
				  </form>
				 <p id="errorCustomerLogin" class="w3-amber w3-text-black w3-large"></p>
			</div>
		</div>
	</div>
	
	<div id="loginSellerModal" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="padding: 32px">
			<div class="w3-container w3-white w3-center">
				<i onclick="document.getElementById('loginSellerModal').style.display='none'"
					class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
				<h2 class="w3-wide">Seller Log in</h2>
				<p>Introduce your organization ID and password to log in</p>
				  	<form id="loginSellerForm" action="seller/login" method="post">
					  	<input class="w3-input w3-border" type="number" name="OrganizationID" required
							min="0" max="999999999" placeholder="Enter organization ID like 112233">
						<br>
						<input class="w3-input w3-border" type="password" name="Password" required
							placeholder="Enter your password">
						<br>
					 	<input type="submit" value="Submit"
						 	class="w3-button w3-padding-large w3-red w3-margin-bottom" >
				  </form>
				 <p id="errorSellerLogin" class="w3-amber w3-text-black w3-large"></p>
			</div>
		</div>
	</div>
	
	<div id="registerCustomerModal" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="padding: 32px">
			<div class="w3-container w3-white w3-center">
				<i onclick="document.getElementById('registerCustomerModal').style.display='none'"
					class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
				<h2 class="w3-wide">Register new customer</h2>
				<p>Introduce your data to be registered</p>
				  	<form id="registerCustomerForm" action="customer/register" method="post">
					  	<input class="w3-input w3-border" type="number" name="IdentityNumber" required
							min="0" max="999999999" placeholder="Enter your indentity number (between 0 and 999999999)">
						<br>
					  	<input class="w3-input w3-border" type="text" name="Name" required
							placeholder="Enter your full name">
						<br>
						<input class="w3-input w3-border" type="password" name="Password" required
							placeholder="Enter your password">
						<br>
					  	<input class="w3-input w3-border" type="email" name="Email" required
							placeholder="Enter your email">
						<br>
					  	<input class="w3-input w3-border" type="tel" name="Phone" required
							 pattern="[0-9]{9}" placeholder="Enter your nine digit phone (Ex 123456789)">
						<br>
						<input class="w3-input w3-border" type="text" name="Address" required
							 maxlength="60" placeholder="Enter your full address">
						<br>
						<label for="Gender">Choose your gender if desired:</label>
						<select class="w3-input w3-border" name="Gender">
						  	<option value="Male">Male</option>
						  	<option value="Female">Female</option>
						  	<option value="Other">Other</option>
						</select>
						<br>
						<input class="w3-input w3-border" type="number" name="Age"
							min="0" max="150" placeholder="Enter your age if desired">
						<br>
						<input class="w3-input w3-border" type="text" name="Country"
							 placeholder="Enter your country if desired">
						<br>
					 	<input type="submit" value="Submit"
						 	class="w3-button w3-padding-large w3-red w3-margin-bottom" >
				  </form>
				 <p id="errorCustomerRegister" class="w3-amber w3-text-black w3-large"></p>
			</div>
		</div>
	</div>
	
	<div id="registerSellerModal" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="padding: 32px">
			<div class="w3-container w3-white w3-center">
				<i onclick="document.getElementById('registerSellerModal').style.display='none'"
					class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
				<h2 class="w3-wide">Register new seller</h2>
				<p>Introduce your data to be registered</p>
				  	<form id="registerSellerForm" action="seller/register" method="post">
					  	<input class="w3-input w3-border" type="number" name="OrganizationID" required
							min="0" max="999999999" placeholder="Enter your OrganizationID number (between 0 and 999999999)">
						<br>
					  	<input class="w3-input w3-border" type="text" name="Name" required
							placeholder="Enter your company name">
						<br>
						<input class="w3-input w3-border" type="password" name="Password" required
							placeholder="Enter your password">
						<br>
					  	<input class="w3-input w3-border" type="email" name="Email" required
							placeholder="Enter your email">
						<br>
					  	<input class="w3-input w3-border" type="tel" name="Phone" required
							 pattern="[0-9]{9}" placeholder="Enter your nine digit phone (Ex 123456789)">
						<br>
						<input class="w3-input w3-border" type="text" name="Address" required
							 maxlength="60" placeholder="Enter your full address">
						<br>
						<input class="w3-input w3-border" type="text" name="Country"
							 placeholder="Enter your country if desired">
						<br>
					 	<input type="submit" value="Submit"
						 	class="w3-button w3-padding-large w3-red w3-margin-bottom" >
				  </form>
				 <p id="errorSellerRegister" class="w3-amber w3-text-black w3-large"></p>
			</div>
		</div>
	</div>
	
	<div id="updateProductModal" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="padding: 32px">
			<div class="w3-container w3-white w3-center">
				<i onclick="document.getElementById('updateProductModal').style.display='none'"
					class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
				<h2 class="w3-wide">Update product</h2>
				<p>Introduce the product data to be changed</p>
				  	<form id="updateProductForm" action="product" method="post">
				  		<input id="ProductID" class="w3-input w3-border w3-hide" type="number" 
				  		name="ProductID" required value="<%= product[0].ProductID%>">
				  		<input class="w3-input w3-border" type="text" name="Name"
							placeholder="Enter the name of the product">
						<br>
					  	<input class="w3-input w3-border" type="number" name="Price"
							min="0" max="99999" placeholder="Enter the product price (between 0 and 99999)">
						<br>
						<input class="w3-input w3-border" type="number" name="Quantity"
							min="0" max="99999" placeholder="Enter the quantity of products (between 0 and 99999)">
						<br>
						<input class="w3-input w3-border" type="text" name="DescriptionText"
							 maxlength="500" placeholder="Enter the product description to sell more">
						<br>
						<input class="w3-input w3-border" type="file" name="upload_image"
						placeholder="Upload product image to sell more">
						<br>
					 	<input type="submit" value="Submit"
						 	class="w3-button w3-padding-large w3-red w3-margin-bottom" >
				  </form>
				 <p id="errorUpdateProduct" class="w3-amber w3-text-black w3-large"></p>
			</div>
		</div>
	</div>
	
	<script src="/product.js"></script>

</body>
</html>
