<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('./partials/head'); %>

<body class="w3-content" style="max-width: 1400px">

	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index: 3; width: 250px" 
		id="mySidebar">
		<div class="w3-container w3-display-container w3-padding-16">
			<i onclick="w3_close()"
				class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
			<h3 class="w3-wide">
				<b>Elshoppen</b>
			</h3>
		</div>
		<div class="w3-padding-64 w3-large w3-text-grey" style="font-weight: bold">
		
			<a id="login" href="#" class="w3-bar-item w3-button w3-block w3-white w3-left-align acc-left-menu user-logged">
				Log in <i class="fa fa-caret-down"></i></a> 
			<div id="loginAcc"
				class="w3-bar-block w3-hide w3-padding-large w3-medium">
				<a href="#" onclick="document.getElementById('loginCustomerModal').style.display='block'"
					class="w3-bar-item w3-button w3-light-grey">Customer</a>
				<a href="#" onclick="document.getElementById('loginSellerModal').style.display='block'" 
					class="w3-bar-item w3-button">Seller</a> 
			</div>
			
			<a id="register" href="#" class="w3-bar-item w3-button w3-block w3-white w3-left-align acc-left-menu user-logged">
				Register <i class="fa fa-caret-down"></i></a>
			<div id="registerAcc"
				class="w3-bar-block w3-hide w3-padding-large w3-medium">
				<a href="#" onclick="document.getElementById('registerCustomerModal').style.display='block'"
					class="w3-bar-item w3-button w3-light-grey">Customer</a> 
				<a href="#" onclick="document.getElementById('registerSellerModal').style.display='block'"
					class="w3-bar-item w3-button">Seller</a> 
			</div>
			
			<!-- Only show this option when user logged in -->
			<a id="logout" href="#" class="w3-bar-item w3-button w3-block w3-white w3-left-align w3-hide user-logged">
				Log out</a>
				
			<!-- This element includes the class w3-hide and so it will not show in screen -->
			<a id="test" onclick="showAccordion(this)" href="javascript:void(0)" 
				class="w3-button w3-block w3-white w3-left-align w3-hide">
				Test <i class="fa fa-caret-down"></i>
			</a>
			<div id="testAcc"
				class="w3-bar-block w3-hide w3-padding-large w3-medium">
				<a href="#" class="w3-bar-item w3-button w3-light-grey">
					<i class="fa fa-caret-right w3-margin-right"></i>Test 1.1</a> 
				<a href="#" class="w3-bar-item w3-button">Test 1.12</a>
			</div>
		</div>
		
		<a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>
		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding"
			onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
		<a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a>
	</nav>

	<!-- Top menu on small screens -->
	<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
		<div class="w3-bar-item w3-padding-24 w3-wide">Elshoppen</div>
		<a href="javascript:void(0)"
			class="w3-bar-item w3-button w3-padding-24 w3-right"
			onclick="w3_open()"><i class="fa fa-bars"></i></a>
	</header>

	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large" onclick="w3_close()"
		style="cursor: pointer" title="close side menu" id="myOverlay"></div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left: 250px">

		<!-- Push down content on small screens -->
		<div class="w3-hide-large" style="margin-top: 83px"></div>

		<!-- Top header -->
		<header class="w3-container w3-xlarge">
			<p id="sellerMessage" class="w3-left">Products</p>
			<p class="w3-right">
				<!-- Symbols defined in Font Awesome (fa) v4.7, add w3-margin-right for good spacing between icons-->
				<a id="briefcaseIcon" href="#" class="fa fa-briefcase fa-lg w3-margin-right w3-hide seller-logged" style="text-decoration:none"></a>
				<a id="shoppingCartIcon" href="#" class="fa fa-shopping-cart fa-lg w3-margin-right w3-hide customer-logged" style="text-decoration:none"></a>
				<a id="homeIcon" href="/" class="fa fa-home fa-lg w3-margin-right" style="text-decoration:none"></a>
				<a id="searchIcon" href="#" class="fa fa-search fa-lg w3-margin-right" style="text-decoration:none"></a>
				
				<!-- Original: <i class="fa fa-shopping-cart w3-margin-right"></i> -->
			</p>
			<form id="searchForm" action="/search" method="get" class="w3-hide">
			  	<input class="w3-input w3-border" type="text" name="searchWord" required
					placeholder='Enter a word to search products, like "chocolate"'>
				<br>
				<input type="submit" value="Submit"
				 	class="w3-button w3-padding-large w3-black w3-margin-bottom w3-center">
				<br>
			</form>
		</header>

		<!-- Image header -->
		<div class="w3-display-container w3-container">
			<img src="/images/shop-intro.jpg" alt="Promote shopping" style="width:100%">
			<div class="w3-display-topright w3-text-white"
				style="padding: 24px 48px">
				<h1 class="w3-jumbo w3-hide-small" style="background-color:rgba(182, 165, 204, 0.8)">
					Products you are currently selling</h1>
			</div>
			<p>
				<a href="#" onclick="document.getElementById('newProductModal').style.display='block'"
					class="w3-button w3-black w3-padding-large w3-large" >
					New Product <i class="fa fa-shopping-bag"></i></a>
			</p>
		</div>

		<div class="w3-container w3-text-grey" id="products"> <!-- id="jeans" -->
		<% if (products.length == 0) { %>
			<p class="w3-large" >No items found</p>
		<% } else { %>
			<p class="w3-large">Items for sell</p>
		<% } %>
		</div>

		<!-- Product grid -->
		<div class="w3-row w3-grayscale">
		<% var i; %> 
		<% for(i = 0; i < products.length; i++) {%>
			<% if(!(i % 2)){%>
			<div class="w3-col l3 s6">
		 	<% } %>
		 		<div class="w3-container">
			 		<div class="w3-display-container" style="width:230px;height:230px;">
					<% if(products[i].DescriptionImage != null){%>
						<img src="data:image;base64,<%= products[i].DescriptionImage%>" style="width:95%; height:100%" alt="">
				 	<% } else { %>
					 	<img src="/images/default_product.png" style="width:95%; height:100%" alt="">
				 	<% } %>
				 		<form class="w3-display-middle w3-display-hover">
							<button id="<%= products[i].ProductID%>" formaction="/product/<%= products[i].ProductID%>" 
							class="w3-button w3-black">Modify <i class="fa fa-wrench"></i>
							</button>
						</form>
					</div>
			 		<p >
				 		<%= products[i].Name%><br>
				 		<b><%= products[i].Price%>€</b>
		 			</p>
				</div>
			<% if(i % 2){%>
			</div>
		 	<% } %>
 		<% } %>
 			<!-- In case the even <div class="w3-col l3 s6"> was not close (remember i was increased at end of loop) -->
 		<% if(i % 2){%>
			</div>
	 	<% } %>
	 	<!-- Close div class="w3-row w3-grayscale"-->
		</div>

		<!-- Subscribe section -->
		<div class="w3-container w3-black w3-padding-32">
		</div>

	<!-- Footer -->
	<%- include('./partials/footer'); %>

	<!-- End page content -->
	</div>

	<!-- Newsletter Modal -->
	<div id="newsletter" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="padding: 32px">
			<div class="w3-container w3-white w3-center">
				<i onclick="document.getElementById('newsletter').style.display='none'"
					class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
				<h2 class="w3-wide">NEWSLETTER</h2>
				<p>Join our mailing list to receive updates on new arrivals and
					special offers.</p>
				<p>
					<input class="w3-input w3-border" type="text"
						placeholder="Enter e-mail">
				</p>
				<button type="button"
					class="w3-button w3-padding-large w3-red w3-margin-bottom"
					onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
			</div>
		</div>
	</div>
	
	<div id="newProductModal" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom" style="padding: 32px">
			<div class="w3-container w3-white w3-center">
				<i onclick="document.getElementById('newProductModal').style.display='none'"
					class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
				<h2 class="w3-wide">Add new product to your sellings</h2>
				<p>Introduce the product data to be added</p>
				  	<form id="newProductForm" action="product" method="post">
				  		<input class="w3-input w3-border" type="text" name="Name" required
							placeholder="Enter the name of the product">
						<br>
					  	<input class="w3-input w3-border" type="number" name="Price" required
							min="0" max="99999" placeholder="Enter the product price (between 0 and 99999)">
						<br>
						<input class="w3-input w3-border" type="number" name="Quantity" required
							min="0" max="99999" placeholder="Enter quantity of products for sale (between 0 and 99999)">
						<br>
						<input class="w3-input w3-border" type="text" name="DescriptionText"
							 maxlength="500" placeholder="Enter the product description to sell more">
						<br>
						<label for="upload_image" class="btn">Select product image</label>
						<input class="w3-input w3-border" type="file" name="upload_image"
						placeholder="Upload product image to sell more">
						<br>
					 	<input type="submit" value="Submit new product"
						 	class="w3-button w3-padding-large w3-red w3-margin-bottom" >
				  </form>
				 <p id="errorNewProduct" class="w3-amber w3-text-black w3-large"></p>
			</div>
		</div>
	</div>
	
	<script src="/seller.js"></script>

</body>
</html>
